In [32]:
import os
import json
import numpy as np
import pandas as pd
from quantutils.api.datasource import MIDataStoreRemote
import quantutils.dataset.pipeline as ppl


mds = MIDataStoreRemote(location="http://localhost:8080")

#start = "2013-01-01"
#end = "2013-07-10 18:00"
#marketData = aggregator.getData("DOW", "H", start, end, debug=True)
#marketData = ppl.removeNaNs(marketData)

marketData = pd.read_csv("../test/unittest/data/test.csv", parse_dates=True, index_col='Date_Time')
marketData["ID"] = "TestSource"
marketData = marketData.reset_index().set_index(["Date_Time"])[["Open", "High", "Low", "Close"]]

#marketData.index = marketData.index.tz_localize('UTC')

#ts = ts.tz_convert("US/Eastern", level=0)

marketData

                               Open      High       Low     Close
Date_Time
2013-01-01 05:00:00+00:00  13104.14  13104.14  13104.14  13104.14
2013-01-01 22:00:00+00:00  13104.14  13104.14  13104.14  13104.14
2013-01-02 05:00:00+00:00  13104.14  13104.14  13104.14  13104.14
2013-01-02 14:00:00+00:00  13104.30  13368.62  13104.30  13366.42
2013-01-02 15:00:00+00:00  13366.48  13374.82  13338.68  13345.45
...                             ...       ...       ...       ...
2013-07-10 14:00:00+00:00  15317.72  15322.23  15269.23  15281.24
2013-07-10 15:00:00+00:00  15281.22  15287.86  15259.44  15272.60
2013-07-10 16:00:00+00:00  15272.51  15284.44  15266.63  15273.77
2013-07-10 17:00:00+00:00  15273.79  15284.93  15270.26  15274.35
2013-07-10 18:00:00+00:00  15274.38  15339.68  15274.38  15336.06

[1459 rows x 4 columns]

In [10]:
mds.append("DOW", marketData)

resultData = mds.aggregate("DOW", ["TestSource"])
marketData.compare(resultData)

ValueError: Can only compare identically-labeled DataFrame objects

In [3]:
resultData

                                          Open      High       Low     Close
Date_Time                 ID
2013-01-01 05:00:00+00:00 TestSource  13104.14  13104.14  13104.14  13104.14
2013-01-01 22:00:00+00:00 TestSource  13104.14  13104.14  13104.14  13104.14
2013-01-02 05:00:00+00:00 TestSource  13104.14  13104.14  13104.14  13104.14
2013-01-02 14:00:00+00:00 TestSource  13104.30  13368.62  13104.30  13366.42
2013-01-02 15:00:00+00:00 TestSource  13366.48  13374.82  13338.68  13345.45
...                                        ...       ...       ...       ...
2013-07-10 14:00:00+00:00 TestSource  15317.72  15322.23  15269.23  15281.24
2013-07-10 15:00:00+00:00 TestSource  15281.22  15287.86  15259.44  15272.60
2013-07-10 16:00:00+00:00 TestSource  15272.51  15284.44  15266.63  15273.77
2013-07-10 17:00:00+00:00 TestSource  15273.79  15284.93  15270.26  15274.35
2013-07-10 18:00:00+00:00 TestSource  15274.38  15339.68  15274.38  15336.06

[1459 rows x 4 columns]

In [7]:
marketData

                                          Open      High       Low     Close
Date_Time                 ID
2013-01-01 05:00:00+00:00 TestSource  13104.14  13104.14  13104.14  13104.14
2013-01-01 22:00:00+00:00 TestSource  13104.14  13104.14  13104.14  13104.14
2013-01-02 05:00:00+00:00 TestSource  13104.14  13104.14  13104.14  13104.14
2013-01-02 14:00:00+00:00 TestSource  13104.30  13368.62  13104.30  13366.42
2013-01-02 15:00:00+00:00 TestSource  13366.48  13374.82  13338.68  13345.45
...                                        ...       ...       ...       ...
2013-07-10 14:00:00+00:00 TestSource  15317.72  15322.23  15269.23  15281.24
2013-07-10 15:00:00+00:00 TestSource  15281.22  15287.86  15259.44  15272.60
2013-07-10 16:00:00+00:00 TestSource  15272.51  15284.44  15266.63  15273.77
2013-07-10 17:00:00+00:00 TestSource  15273.79  15284.93  15270.26  15274.35
2013-07-10 18:00:00+00:00 TestSource  15274.38  15339.68  15274.38  15336.06

[1459 rows x 4 columns]

In [16]:
marketData.index

MultiIndex([('2013-01-01 05:00:00+00:00', 'TestSource'),
            ('2013-01-01 22:00:00+00:00', 'TestSource'),
            ('2013-01-02 05:00:00+00:00', 'TestSource'),
            ('2013-01-02 14:00:00+00:00', 'TestSource'),
            ('2013-01-02 15:00:00+00:00', 'TestSource'),
            ('2013-01-02 16:00:00+00:00', 'TestSource'),
            ('2013-01-02 17:00:00+00:00', 'TestSource'),
            ('2013-01-02 18:00:00+00:00', 'TestSource'),
            ('2013-01-02 19:00:00+00:00', 'TestSource'),
            ('2013-01-02 20:00:00+00:00', 'TestSource'),
            ...
            ('2013-07-09 19:00:00+00:00', 'TestSource'),
            ('2013-07-09 20:00:00+00:00', 'TestSource'),
            ('2013-07-09 22:00:00+00:00', 'TestSource'),
            ('2013-07-10 05:00:00+00:00', 'TestSource'),
            ('2013-07-10 13:00:00+00:00', 'TestSource'),
            ('2013-07-10 14:00:00+00:00', 'TestSource'),
            ('2013-07-10 15:00:00+00:00', 'TestSource'),
            ('2013-07-10 16:00:00+00:00', 'TestSource'),
            ('2013-07-10 17:00:00+00:00', 'TestSource'),
            ('2013-07-10 18:00:00+00:00', 'TestSource')],
           names=['Date_Time', 'ID'], length=1459)

In [33]:
marketData.index.get_level_values("Date_Time")

DatetimeIndex(['2013-01-01 05:00:00+00:00', '2013-01-01 22:00:00+00:00',
               '2013-01-02 05:00:00+00:00', '2013-01-02 14:00:00+00:00',
               '2013-01-02 15:00:00+00:00', '2013-01-02 16:00:00+00:00',
               '2013-01-02 17:00:00+00:00', '2013-01-02 18:00:00+00:00',
               '2013-01-02 19:00:00+00:00', '2013-01-02 20:00:00+00:00',
               ...
               '2013-07-09 19:00:00+00:00', '2013-07-09 20:00:00+00:00',
               '2013-07-09 22:00:00+00:00', '2013-07-10 05:00:00+00:00',
               '2013-07-10 13:00:00+00:00', '2013-07-10 14:00:00+00:00',
               '2013-07-10 15:00:00+00:00', '2013-07-10 16:00:00+00:00',
               '2013-07-10 17:00:00+00:00', '2013-07-10 18:00:00+00:00'],
              dtype='datetime64[ns, UTC]', name='Date_Time', length=1459, freq=None)

In [26]:
resultData.index.get_level_values("Date_Time")

DatetimeIndex(['2013-01-01 05:00:00+00:00', '2013-01-01 22:00:00+00:00',
               '2013-01-02 05:00:00+00:00', '2013-01-02 14:00:00+00:00',
               '2013-01-02 15:00:00+00:00', '2013-01-02 16:00:00+00:00',
               '2013-01-02 17:00:00+00:00', '2013-01-02 18:00:00+00:00',
               '2013-01-02 19:00:00+00:00', '2013-01-02 20:00:00+00:00',
               ...
               '2013-07-09 19:00:00+00:00', '2013-07-09 20:00:00+00:00',
               '2013-07-09 22:00:00+00:00', '2013-07-10 05:00:00+00:00',
               '2013-07-10 13:00:00+00:00', '2013-07-10 14:00:00+00:00',
               '2013-07-10 15:00:00+00:00', '2013-07-10 16:00:00+00:00',
               '2013-07-10 17:00:00+00:00', '2013-07-10 18:00:00+00:00'],
              dtype='datetime64[ns, UTC]', name='Date_Time', length=1459, freq=None)